In [18]:
import pandas as pd
from sklearn.model_selection import StratifiedShuffleSplit

In [2]:
# load dataset
csv_file = '../../datasets/chicago_trimmed_10000.csv'
df = pd.read_csv(csv_file)

In [3]:
df.head()

,date,primary_type,description,location_description,arrest,latitude,longitude
0,2010-10-03 11:30:00+00:00,BATTERY,SIMPLE,SIDEWALK,False,41.745809,-87.547926
1,2005-10-31 03:55:00+00:00,BATTERY,SIMPLE,SIDEWALK,False,41.751061,-87.569876
2,2003-10-07 02:30:00+00:00,BATTERY,SIMPLE,APARTMENT,True,41.751215,-87.571098
3,2009-01-22 02:30:00+00:00,BATTERY,SIMPLE,"SCHOOL, PUBLIC, BUILDING",False,41.733650,-87.557845
4,2020-07-03 12:15:00+00:00,BATTERY,SIMPLE,RESIDENCE,False,41.749243,-87.549214

In [4]:
df['primary_type'].unique()

array(['BATTERY', 'ASSAULT', 'NARCOTICS', 'OTHER OFFENSE',
       'CRIMINAL TRESPASS', 'ROBBERY', 'CRIM SEXUAL ASSAULT', 'BURGLARY',
       'DECEPTIVE PRACTICE', 'WEAPONS VIOLATION', 'STALKING',
       'PUBLIC PEACE VIOLATION', 'SEX OFFENSE', 'THEFT',
       'MOTOR VEHICLE THEFT', 'OFFENSE INVOLVING CHILDREN',
       'PROSTITUTION', 'ARSON', 'LIQUOR LAW VIOLATION', 'GAMBLING',
       'INTERFERENCE WITH PUBLIC OFFICER', 'KIDNAPPING',
       'CRIMINAL SEXUAL ASSAULT', 'OBSCENITY', 'HOMICIDE',
       'CRIMINAL DAMAGE', 'INTIMIDATION', 'OTHER NARCOTIC VIOLATION'],
      dtype=object)

In [9]:
# Creating category of combined primary type and arrested or not
df['primary_type_arrest_cat'] = df['primary_type'] + df['arrest'].astype(str)

# removing categories with only one entry
df = df.groupby('primary_type_arrest_cat').filter(lambda x : len(x) > 20)
df['primary_type_arrest_cat'].value_counts()

BATTERYFalse                            2466
ASSAULTFalse                             932
NARCOTICSTrue                            825
BATTERYTrue                              754
THEFTFalse                               670
OTHER OFFENSEFalse                       530
CRIMINAL DAMAGEFalse                     522
ROBBERYFalse                             519
DECEPTIVE PRACTICEFalse                  442
BURGLARYFalse                            407
MOTOR VEHICLE THEFTFalse                 298
ASSAULTTrue                              250
THEFTTrue                                178
OFFENSE INVOLVING CHILDRENFalse          113
CRIMINAL TRESPASSTrue                     91
OTHER OFFENSETrue                         87
CRIMINAL TRESPASSFalse                    83
DECEPTIVE PRACTICETrue                    80
WEAPONS VIOLATIONTrue                     59
CRIM SEXUAL ASSAULTFalse                  59
PUBLIC PEACE VIOLATIONTrue                59
ROBBERYTrue                               56
CRIMINAL DAMAGETrue                       51
WEAPONS VIOLATIONFalse                    49
PUBLIC PEACE VIOLATIONFalse               44
SEX OFFENSEFalse                          39
LIQUOR LAW VIOLATIONTrue                  32
MOTOR VEHICLE THEFTTrue                   32
OFFENSE INVOLVING CHILDRENTrue            31
ARSONFalse                                30
KIDNAPPINGFalse                           29
INTERFERENCE WITH PUBLIC OFFICERTrue      25
Name: primary_type_arrest_cat, dtype: int64

In [10]:
df.reset_index(inplace=True, drop=True)
df.head()

,date,primary_type,description,location_description,arrest,latitude,longitude,primary_type_arrest_cat
0,2010-10-03 11:30:00+00:00,BATTERY,SIMPLE,SIDEWALK,False,41.745809,-87.547926,BATTERYFalse
1,2005-10-31 03:55:00+00:00,BATTERY,SIMPLE,SIDEWALK,False,41.751061,-87.569876,BATTERYFalse
2,2003-10-07 02:30:00+00:00,BATTERY,SIMPLE,APARTMENT,True,41.751215,-87.571098,BATTERYTrue
3,2009-01-22 02:30:00+00:00,BATTERY,SIMPLE,"SCHOOL, PUBLIC, BUILDING",False,41.733650,-87.557845,BATTERYFalse
4,2020-07-03 12:15:00+00:00,BATTERY,SIMPLE,RESIDENCE,False,41.749243,-87.549214,BATTERYFalse

Splitting to test and train

Splitting test to test and validation set

In [11]:
def stratified_shuffle_split_train_test_valid(df):

    split = StratifiedShuffleSplit(n_splits=1, test_size=0.4, random_state=42)

    for train_index, test_index in split.split(df, df['primary_type_arrest_cat']):
        train_set = df.loc[train_index]
        test_valid_set = df.loc[test_index]
    split2 = StratifiedShuffleSplit(n_splits=1, test_size=0.5, random_state=42)

    for train_index, test_index in split2.split(test_valid_set, test_valid_set['primary_type_arrest_cat']):
        test_set = df.loc[train_index]
        valid_set = df.loc[test_index]
        
    return train_set, test_set, valid_set

In [12]:
train_set, test_set, valid_set = stratified_shuffle_split_train_test_valid(df)

Check to see that the proportions of the dataset is still the same

In [14]:
full_df = df["primary_type_arrest_cat"].value_counts() / len(df)
train_df = train_set["primary_type_arrest_cat"].value_counts() / len(train_set)
test_df = test_set["primary_type_arrest_cat"].value_counts() / len(test_set)
valid_df = valid_set["primary_type_arrest_cat"].value_counts() / len(valid_set)

print(f'Full dataset\n{full_df} \n')
print(f'Train dataset\n{train_df} \n')
print(f'Test dataset\n{test_df} \n')
print(f'Validation dataset\n{valid_df} \n')

Full dataset
BATTERYFalse                            0.250559
ASSAULTFalse                            0.094696
NARCOTICSTrue                           0.083824
BATTERYTrue                             0.076610
THEFTFalse                              0.068076
OTHER OFFENSEFalse                      0.053851
CRIMINAL DAMAGEFalse                    0.053038
ROBBERYFalse                            0.052733
DECEPTIVE PRACTICEFalse                 0.044910
BURGLARYFalse                           0.041353
MOTOR VEHICLE THEFTFalse                0.030278
ASSAULTTrue                             0.025401
THEFTTrue                               0.018086
OFFENSE INVOLVING CHILDRENFalse         0.011481
CRIMINAL TRESPASSTrue                   0.009246
OTHER OFFENSETrue                       0.008840
CRIMINAL TRESPASSFalse                  0.008433
DECEPTIVE PRACTICETrue                  0.008128
WEAPONS VIOLATIONTrue                   0.005995
CRIM SEXUAL ASSAULTFalse                0.005995
PUBLIC PEACE VIOLATIONTrue              0.005995
ROBBERYTrue                             0.005690
CRIMINAL DAMAGETrue                     0.005182
WEAPONS VIOLATIONFalse                  0.004979
PUBLIC PEACE VIOLATIONFalse             0.004471
SEX OFFENSEFalse                        0.003963
LIQUOR LAW VIOLATIONTrue                0.003251
MOTOR VEHICLE THEFTTrue                 0.003251
OFFENSE INVOLVING CHILDRENTrue          0.003150
ARSONFalse                              0.003048
KIDNAPPINGFalse                         0.002947
INTERFERENCE WITH PUBLIC OFFICERTrue    0.002540
Name: primary_type_arrest_cat, dtype: float64

Train dataset
BATTERYFalse                            0.250635
ASSAULTFalse                            0.094666
NARCOTICSTrue                           0.083827
BATTERYTrue                             0.076545
THEFTFalse                              0.068078
OTHER OFFENSEFalse                      0.053853
CRIMINAL DAMAGEFalse                    0.053006
ROBBERYFalse                            0.052667
DECEPTIVE PRACTICEFalse                 0.044877
BURGLARYFalse                           0.041321
MOTOR VEHICLE THEFTFalse                0.030313
ASSAULTTrue                             0.025402
THEFTTrue                               0.018120
OFFENSE INVOLVING CHILDRENFalse         0.011516
CRIMINAL TRESPASSTrue                   0.009314
OTHER OFFENSETrue                       0.008806
CRIMINAL TRESPASSFalse                  0.008467
DECEPTIVE PRACTICETrue                  0.008129
WEAPONS VIOLATIONTrue                   0.005927
PUBLIC PEACE VIOLATIONTrue              0.005927
CRIM SEXUAL ASSAULTFalse                0.005927
ROBBERYTrue                             0.005758
CRIMINAL DAMAGETrue                     0.005250
WEAPONS VIOLATIONFalse                  0.004911
PUBLIC PEACE VIOLATIONFalse             0.004403
SEX OFFENSEFalse                        0.004064
LIQUOR LAW VIOLATIONTrue                0.003218
MOTOR VEHICLE THEFTTrue                 0.003218
OFFENSE INVOLVING CHILDRENTrue          0.003218
ARSONFalse                              0.003048
KIDNAPPINGFalse                         0.003048
INTERFERENCE WITH PUBLIC OFFICERTrue    0.002540
Name: primary_type_arrest_cat, dtype: float64

Test dataset
BATTERYFalse                            0.196138
THEFTFalse                              0.148882
NARCOTICSTrue                           0.107215
OTHER OFFENSEFalse                      0.087907
BATTERYTrue                             0.065041
ASSAULTFalse                            0.057927
BURGLARYFalse                           0.051321
ROBBERYFalse                            0.051321
MOTOR VEHICLE THEFTFalse                0.042175
CRIMINAL DAMAGEFalse                    0.040650
DECEPTIVE PRACTICEFalse                 0.039126
THEFTTrue                               0.038110
ASSAULTTrue                             0.017785
OTHER OFFENSETrue                       0.007622
OFFENSE INVOLVING CHILDRENFalse         0.006606
MOTOR VEHICLE THEFTTrue                 0.005589
DECEPTIVE PRACTICETrue                  0.004573
CRIM SEXUAL ASSAULTFalse                0.004065
SEX OFFENSEFalse                        0.003557
ROBBERYTrue                             0.003049
INTERFERENCE WITH PUBLIC OFFICERTrue    0.002541
CRIMINAL DAMAGETrue                     0.002541
CRIMINAL TRESPASSFalse                  0.002541
PUBLIC PEACE VIOLATIONFalse             0.002541
WEAPONS VIOLATIONFalse                  0.002033
KIDNAPPINGFalse                         0.002033
ARSONFalse                              0.001524
OFFENSE INVOLVING CHILDRENTrue          0.001524
WEAPONS VIOLATIONTrue                   0.001524
CRIMINAL TRESPASSTrue                   0.001016
LIQUOR LAW VIOLATIONTrue                0.001016
PUBLIC PEACE VIOLATIONTrue              0.000508
Name: primary_type_arrest_cat, dtype: float64

Validation dataset
BATTERYFalse                            0.206196
THEFTFalse                              0.149314
NARCOTICSTrue                           0.105637
OTHER OFFENSEFalse                      0.083291
ASSAULTFalse                            0.068563
BATTERYTrue                             0.056882
BURGLARYFalse                           0.056374
MOTOR VEHICLE THEFTFalse                0.047740
THEFTTrue                               0.046724
ROBBERYFalse                            0.039614
DECEPTIVE PRACTICEFalse                 0.031996
CRIMINAL DAMAGEFalse                    0.030472
ASSAULTTrue                             0.016252
OTHER OFFENSETrue                       0.009142
DECEPTIVE PRACTICETrue                  0.006094
OFFENSE INVOLVING CHILDRENFalse         0.005587
CRIMINAL TRESPASSTrue                   0.005079
ROBBERYTrue                             0.004063
MOTOR VEHICLE THEFTTrue                 0.003555
CRIM SEXUAL ASSAULTFalse                0.003555
OFFENSE INVOLVING CHILDRENTrue          0.003555
WEAPONS VIOLATIONFalse                  0.003555
CRIMINAL DAMAGETrue                     0.003047
PUBLIC PEACE VIOLATIONFalse             0.002539
ARSONFalse                              0.002031
WEAPONS VIOLATIONTrue                   0.002031
INTERFERENCE WITH PUBLIC OFFICERTrue    0.001524
SEX OFFENSEFalse                        0.001524
CRIMINAL TRESPASSFalse                  0.001524
LIQUOR LAW VIOLATIONTrue                0.001016
PUBLIC PEACE VIOLATIONTrue              0.001016
KIDNAPPINGFalse                         0.000508
Name: primary_type_arrest_cat, dtype: float64